body{
	margin: 0;
	font-size: 20px;
	line-height: 25px;
	font-family: Arial, sans-serif;
}

header{
	background-color: #ac8687;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

header h1{
	font-size: 50px; 
	color: #352321;
	max-width: 80%;
  height:100%;
}

header img{
	border-radius: 350px;
	  max-width: 80%;
  height:100%;
	border:20px solid #c5b5b5;
	 
}

h1, h2{
	font-family:Georgia, Gill Sans, sans-serif;
}

h2{
 font-size: 30px; 
 color: #734d40;
 margin: 40px 0 20px;
}


main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}
main img{
	max-width: 100%;
}

a{
	color: #ac8687;
}
a:hover{
	color: white;
	background-color: gray;
}
footer{
	background-color: #ac8687;
	text-align: center;
	font-size: 12px;
	line-height: 15px;
	color: white;
	padding: 20px;
	margin: 0;
}

p.caption{
	color: darkgray;
	font-style: italic;
	margin-top:0;
}